# Dependencies
**/node_modules/
**/vendor/

# Environment files
**/.env
**/.env.*
!**/.env.example

# Large archive files & backups
*.zip
**/*.zip
*.tar.gz
*.rar

# Storage & Cache
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/storage/logs/*
!**/storage/framework/cache/.gitignore
!**/storage/framework/sessions/.gitignore
!**/storage/framework/views/.gitignore
!**/storage/logs/.gitignore
**/storage/*.key
**/storage/pail

# Testing & Logs
.phpunit.cache
npm-debug.log*
yarn-error.log*

# IDE & OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
